.page-header {
  display: flex;
  background-color: rgb(27, 85, 85);
  width: 100%;
  height: 45px;
  min-height: 45px;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 0px 15px;
}
