.sidebar-main {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  color: #fff;
}

.sidebar-logo {
  display: flex;
  position: absolute;
  width: 100%;
  height: 45px;
  margin-bottom: 55px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  font-size: 18px;
  color: rgb(111, 204, 204);
  //background-color: rgb(27, 85, 85);
  font-weight: bold;
}

.sidebar-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  min-height: 100%;
  max-height: calc(100vh - 45px);
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3px;
    position: absolute;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: #88888800;
    padding: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.nav-item {
  display: block;
  list-style: none;
  padding: 10px 15px;
  padding-left: 25px;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;

    svg{
      margin-right: 5px;
    }
  }

  &:hover {
    background-color: rgba(0, 128, 128, 0.432);
    a {
      color: #fff;
    }
  }
}

.nav-active {
  background-color: rgba(0, 128, 128, 0.432);
  a {
    color: #fff;
  }
}
